@import "tailwindcss";

:root {

  --bg-primary: #09090b;
  --bg-secondary: #18181b;
  --bg-tertiary: #27272a;

  --border-color: #27272a;

  --text-primary: #f4f4f5;
  --text-secondary: #a1a1aa;
}

.light {

  --bg-primary: #f1f2f4;
  --bg-secondary: #fafafa;
  --bg-tertiary: #e7e8eb;

  --border-color: #d7d9dd;

  --text-primary: #18181b;
  --text-secondary: #686b73;
}

@theme {
  --color-theme-primary: var(--bg-primary);
  --color-theme-secondary: var(--bg-secondary);
  --color-theme-tertiary: var(--bg-tertiary);
  --color-theme-border: var(--border-color);
  --color-theme-text: var(--text-primary);
  --color-theme-muted: var(--text-secondary);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: Inter, sans-serif;

  cursor: url("/cursor-light.svg") 5 4, auto;
}

.light body {
  cursor: url("/cursor-dark.svg") 5 4, auto;
}


button,
a,
[role="button"] {
  cursor: url("/cursor-light.svg") 5 4, auto !important;
}

.light button,
.light a,
.light [role="button"] {
  cursor: url("/cursor-dark.svg") 5 4, auto !important;
}

.form-input:focus {
  outline: none;
  border-color: #f59e0b;
}
